<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtitle Download</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="icon" href="/static/image/SubTranscribe.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <a href="/"><img src="/static/image/SubTranscribe.webp" style="max-width: 40%;margin-top: 10px;" alt="..."></a>
    </nav>
    <div class="container">
        <h1>Download Subtitle</h1>
        <form action="" method="POST">
            <label for="format"></label>
            <h3>Choose Subtitle Format:</h3>
            <select name="format" id="format">
                <option value="srt">SRT</option>
                <option value="vtt">VTT</option>
            </select>
            <br>
            <button type="submit">Download Subtitle</button>
        </form>
        <img src="/static/image/subtitles.jpg" alt="...">
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>SubTranscribe © 2024 All Rights Reserved. Designed by <span> A D E L M A H M O U D </span> </p>
                <div class="toogle">
                    <a class="email" href="mailto: adelam578568@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    <a class="insta" href="http://instagram.com/adel_mahmoud10/"><i class="fa-brands fa-instagram"></i></a>
                    <a class="x" href="https://twitter.com/Adel_MAhmoud100?s=09"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="face" href="https://www.facebook.com/profile.php?id=100013266852973"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
